.content {
  background-color: #8ee0cf;
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  color: #ffdae0;
  text-align: center;
  padding-top: 50px;
  font-size: 80px;
}

.form {
  text-align: center;
  width: 185px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 75px;
}

label {
    font-size: 20px
}

#btn {
  background-color: #ffdae0;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px;
}